.thumb {
    max-width: 300px;
    max-height: 300px;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centerRow {
    display: flex;
    align-items: center;
}

.ai-ctr {
    align-items: center;
}

.ingredientQty{
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 7px;
    margin-left: 14px;
}
  
.ingredientName {
    font-size: 1.1em;
    letter-spacing: 0.5px;
    margin-right: 10px;
}
  
.ingredientPrep {
    font-size: 0.85em;
    color: #666;
}