.not-selected {
  color: gray;
}

.selected {
  color: gold;
}

.star {
  font-size: 1.6em;
  margin: 0;
}

.star:hover, .glow > .star {
  cursor:pointer;
  color: gold;
}

.star:disabled {
  pointer-events:none;
}