body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.clickable {
  cursor:pointer;
}

.disabled-icon {
  pointer-events: none;
  opacity: 0.3;
}

.not-selected {
  color: gray;
}

.selected {
  color: gold;
}

.star {
  font-size: 1.6em;
  margin: 0;
}

.star:hover, .glow > .star {
  cursor:pointer;
  color: gold;
}

.disabled-star {
  font-size: 1.6em;
  margin: 0;
  cursor: default;
}


.jumbotron {
  background-image: url("https://i.imgur.com/6qqdwwH.png");
  background-size: cover;
}

.heroText {
  text-shadow: -10px 10px 0px #00e6e6,
  -20px 20px 0px #01cccc,
  -30px 30px 0px #00bdbd;
}

h1, h2, h3, h4 {
  font-family: 'Fugaz One', sans-serif;
}

.link {
  text-decoration: none;
  color: rgb(160, 160, 160)
}

.link:hover {
  text-decoration: none;
  color: rgb(30, 30, 30)
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgb(200, 200, 200);
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    rgb(200, 200, 200);
 opacity:  .5;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    rgb(200, 200, 200);
 opacity:  .5;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    rgb(200, 200, 200);
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
 color:    rgb(200, 200, 200);
}

.form-control::placeholder { /* Most modern browsers support this now. */
 color:    rgb(200, 200, 200);
}

.nav-tabs > a {
  color: rgb(160, 160, 160);
}

.content {
  flex: 1 0 auto;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0 !important;
  /* padding: 0 !important; */
  border: 0 !important;
  /* outline: 0 !important; */
  /* font-size: 100% !important; */
  /* vertical-align: baseline !important; */
  /* background: transparent !important; */
}

.cancelBtn, .confirmBtn, .editBtn, .deleteBtn {
  color: rgb(180, 180, 180);
}

.cancelBtn:hover {
  color: rgb(239, 52, 0);
}

.confirmBtn:hover {
  color: rgb(17,170,82);
}

.editBtn:hover, .deleteBtn:hover {
  color: rgb(109, 109, 109);
}

/* .dropdownUnformat added exclusively to remove top margin in Toolbar trash/delete dropdown  */

.dropdownUnformat {
  margin-top: -3px;
}