body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.clickable {
  cursor:pointer;
}

.disabled-icon {
  pointer-events: none;
  opacity: 0.3;
}

.not-selected {
  color: gray;
}

.selected {
  color: gold;
}

.star {
  font-size: 1.6em;
  margin: 0;
  transition: color 0.4s ease;
}

.star:hover, .glow > .star {
  cursor:pointer;
  color: gold;
}

.disabled-star {
  font-size: 1.6em;
  margin: 0;
  cursor: default;
}

.jumbotron-text h3 {
  font-size: 3.5rem;
  text-shadow: -7px 7px 0px #00e6e6,
  -14px 14px 0px #01cccc,
  -21px 21px 0px #00bdbd;
}

.jumbotron-text h1 {
  font-size: 6rem;
  text-shadow: -10px 10px 0px #00e6e6,
  -20px 20px 0px #01cccc,
  -30px 30px 0px #00bdbd;
}

.jumbotron {
  background-image: url("https://i.imgur.com/6qqdwwH.png");
  background-size: cover;
}

.hero-hide {
  display: none;
}

@media (max-width: 699px) {
  .jumbotron-text h3 {
    margin-top: 2rem;
    font-size: 2.5rem;
  }

  .jumbotron-text h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 699px) {
  .jumbotron-text h3 {
    margin-top: 2rem;
    font-size: 2.5rem;
  }

  .jumbotron-text h1 {
    font-size: 3.5rem;
  }
}

h1, h2, h3, h4 {
  font-family: 'Fugaz One', sans-serif;
}

.link {
  text-decoration: none;
  color: rgb(160, 160, 160)
}

.link:hover {
  text-decoration: none;
  color: rgb(30, 30, 30)
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgb(200, 200, 200);
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    rgb(200, 200, 200);
 opacity:  .5;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    rgb(200, 200, 200);
 opacity:  .5;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    rgb(200, 200, 200);
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
 color:    rgb(200, 200, 200);
}

.form-control::placeholder { /* Most modern browsers support this now. */
 color:    rgb(200, 200, 200);
}

.nav-tabs > a {
  color: rgb(160, 160, 160);
}

.content {
  flex: 1 0 auto;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0 !important;
  /* padding: 0 !important; */
  border: 0 !important;
  /* outline: 0 !important; */
  /* font-size: 100% !important; */
  /* vertical-align: baseline !important; */
  /* background: transparent !important; */
}

.cancelIcon, .confirmIcon, .editIcon, .deleteIcon {
  color: #b4b4b4;
  transition: color 0.4s ease;
}

.cancelIcon:hover {
  color: #ef3400;
}

.confirmIcon:hover {
  color: #11aa52;
}

.editIcon:hover, .deleteIcon:hover {
  color: #6d6d6d;
}

.confirmBtn:hover {
  color: #fff;
  background-color: #055754;
  border-color: #087F7B;
}

.confirmBtn {
  color: #fff;
  background-color: #087F7B;
  border-color: #087F7B;
}

.confirmBtn:disabled {
  color: #fff;
  background-color: rgba(8, 127, 123, 0.674);
  border-color: rgba(8, 127, 123, 0.674);
}

/* .dropdownUnformat added exclusively to remove top margin in Toolbar trash/delete dropdown  */

.dropdownUnformat {
  margin-top: -3px;
}

.user-avatar {
  background-clip: padding-box;
  float: left;
  background-size: cover;
  background-position: center center;
}

.user-avatar-sm {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: -2px 5px 0 0;
}

.user-avatar-med {
  width: 64px;
  height: 64px;
  border-radius: 10%;
}

.ingredientsList {
  list-style: none;
  padding-left: 0;
}
.ingredientsList li {
  position: relative;
  padding-left: 20px;
  left: 18px;
}
.ingredientsList li:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("/spoons.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 699px) {
  .hideOnMobile {
    display: none;
  }

  .fullWidthOnMobile {
    width: 100% !important;
  }

  #basic-navbar-nav .dropdown-menu {
    margin-left: -110px !important;
  }
}

.card-heart-btn {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}

.card-heart-btn-fav {
  color: white;
  transition: color 0.5s ease;
}

.card-heart-btn-fav:hover {
  color: #ff1e61;
}

.card-heart-btn-unfav {
  color: #ff1e61;
  transition: color 0.5s ease;
}

.card-heart-btn-unfav:hover {
  color: white;
}

.heart-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background:
    linear-gradient(
      45deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0) 49%,
      rgba(0,0,0,0.01) 50%,
      rgba(0,0,0,0.15) 75%,
      rgba(0,0,0,0.4) 97%,
      rgba(0,0,0,0) 98%,
      rgba(0,0,0,0) 100%
    );
  -webkit-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  transition: background 0.5s ease;
  overflow: hidden;
}

.fav-heart {
  cursor: pointer;
  color: grey;
  -webkit-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.unfav-heart {
  cursor: pointer;
  color: #ff1e61;
  -webkit-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.fav-heart:hover {
  color: #ff1e61;
  -webkit-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.unfav-heart:hover {
  color: grey;
  -webkit-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.heart-color {
  color: #ff1e61;
}

.card-shadow {
  -webkit-box-shadow: 0 .25rem .5rem rgba(0,0,0,.15)!important;
  -moz-box-shadow: 0 .25rem .5rem rgba(0,0,0,.15)!important;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.15)!important;
}